<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    Program
    <select formControlName="programId">
      <option [ngValue]="0">Select...</option>
      <option *ngFor="let item of lookups?.programs" [ngValue]="item.id">{{ item.name }}</option>
    </select>
  </label>

  <label>
    Team
    <select formControlName="teamId">
      <option [ngValue]="0">Select...</option>
      <option *ngFor="let item of lookups?.teams" [ngValue]="item.id">{{ item.name }}</option>
    </select>
  </label>

  <label>
    Language
    <select formControlName="languageId">
      <option [ngValue]="0">Select...</option>
      <option *ngFor="let item of lookups?.languages" [ngValue]="item.id">{{ item.name }}</option>
    </select>
  </label>

  <label>
    Activity
    <select formControlName="activityId">
      <option [ngValue]="0">Select...</option>
      <option *ngFor="let item of lookups?.activities" [ngValue]="item.id">{{ item.name }}</option>
    </select>
  </label>

  <label>
    Subactivity
    <select formControlName="subactivityId">
      <option [ngValue]="0">Select...</option>
      <option *ngFor="let item of filteredSubactivities" [ngValue]="item.id">{{ item.name }}</option>
    </select>
  </label>

  <label>
    Note
    <input type="text" formControlName="note" />
  </label>

  <button type="submit" [disabled]="form.invalid || loading">New</button>
</form>
